%!PS-Adobe-3.0
%% Author: Tom Browder
%% Nov 2022

% %%Orientation: see p. 645
%%Orientation: Landscape

% /Orientation and %%Orientation should be consistent with available media

% /PageSize: see p. 233
% /Orientation: see p. 237 ; only affects roll media
% image (paper) size:width x height in PS points:
% 8.5 x 11.0 => 612 x 792
<< /PageSize [612 792] /Orientation 0 >> setpagedevice

save
%
% definitions:

%==============================================================
% this is used for a parent file which includes other EPS files
% see Adobe PS 2e, Example H.2, p. 726
/BeginEPSF { % def
  /b4_Inc_state save def                % Save state for cleanup
  /dict_count countdictstack def        % Count objects on dict stack
  /op_count count 1 sub def             % Count objects on operand stack
  userdict begin                        % Push userdict on dict stack
  /showpage {} def                      % Redefine showpage, {} = null proc
  0 setgray 0 setlinecap                % prepare graphics state
  1 setlinewidth 0 setlinejoin
  10 setmiterlimit [] 0 setdash newpath
  /languagelevel where                  % if level not equal to 1 then
    {pop languagelevel                  % set strokeadjust and
    1 ne                                % overprint to their defaults.
    {false setstrokeadjust
     false setoverprint
    } if
  } if
} bind def
%==============================================================

%==============================================================
% this is used for a parent file which includes other EPS files
% see Adobe PS 2e, Example H.3, p. 726
/EndEPSF {                        % def
  count op_count sub {pop} repeat % Clean up stacks
  countdictstack dict_count sub {end} repeat
  b4_Inc_state restore
} bind def
%==============================================================

% some aliases
/mt {moveto} bind def
/lto {lineto} bind def
/np {newpath} bind def
/cp {closepath} bind def
/rl {rlineto} bind def
/rm {rmoveto} bind def
/tr {translate} bind def
/st {stroke} bind def
/rot {rotate} bind def
/sl {setlinewidth} bind def
/p2i {72 div} bind def           % convert points to inches
/i2p {72 mul} bind def           % convert inches to points
/mm2p {25.4 div 72 mul} bind def % convert millimeters to points
/a2p {60 div 72 mul} bind def    % convert ASI units (60ths of an inch) to points
/ft2pt 1 def % value normally generated by brldraw; default is 1

/tf  {/Times-Roman 12 selectfont} def
/tf8 {/Times-Roman  8 selectfont} def
/tf7 {/Times-Roman  7 selectfont} def
/bf  {/Times-Bold  12 selectfont} def
/sf  {/Symbol      10 selectfont} def % degree: \260  minus: \055
/sf9 {/Symbol       9 selectfont} def % degree: \260  minus: \055

/bf48  {/Times-Bold  48 selectfont} def

% various constants:
/lw1 {1.5 setlinewidth} bind def % main line width (in points)
/lw2 {.75 setlinewidth} bind def % dimension and label line width (in points)
/lengthxyz {20} def % nominal length of a coordinate arrow
/textspace {6} def % space between text and any other object
/ticlen {5} def % length of major tic mark on a scale
/ang_width {.4 72 mul} bind def
/ang_diag {ang_width 45 cos div} bind def
/ds 5 def  % space between point to be dimensioned and the 'hash' mark
/dh 20 def % length of has mark to dimension line
/dt 5 def  % extra hash line 'above' hash mark
/xtra ang_diag ang_width sub 45 cos mul def
% aim point marker
/numleafs 4 def
/apfontsize 7 def
/aprad apfontsize .8 mul def
/aplen 16 def
/aptheta 60 def
/apwid 4 def
/aplw .9 def

% old usage:     /fontname findfont size scalefont setfont
% level 2 usage: /fontname size selectfont

/puttext {
    % string location_code [integer: 0-11]
    % (to place--relative to the current point);
    % must have a current and correct font; e.g.
    %  0 0 moveto (hi) 0 puttext
  /code exch def
  /stname exch def
  gsave
  currentpoint translate np
  0 0 mt stname false charpath flattenpath pathbbox
  /ury exch def
  /urx exch def
  /lly exch def
  /llx exch def
  /mx urx llx add .5 mul def
  /my ury lly add .5 mul def

  0 code eq {/ox 0 mx  sub def /oy 0 my  sub def} if %               center of text bounding box positioned at the current point
  1 code eq {/ox 0 llx sub def /oy 0 my  sub def} if %  center of left edge of text bounding box positioned at the current point
  2 code eq {/ox 0 llx sub def /oy 0 lly sub def} if %    lower left corner of text bounding box positioned at the current point
  3 code eq {/ox 0 mx  sub def /oy 0 lly sub def} if % center of lower edge of text bounding box positioned at the current point
  4 code eq {/ox 0 urx sub def /oy 0 lly sub def} if %   lower right corner of text bounding box positioned at the current point
  5 code eq {/ox 0 urx sub def /oy 0 my  sub def} if % center of right edge of text bounding box positioned at the current point
  6 code eq {/ox 0 urx sub def /oy 0 ury sub def} if %   upper right corner of text bounding box positioned at the current point
  7 code eq {/ox 0 mx  sub def /oy 0 ury sub def} if % center of upper edge of text bounding box positioned at the current point
  8 code eq {/ox 0 llx sub def /oy 0 ury sub def} if %    upper left corner of text bounding box positioned at the current point

  9 code eq {/ox 0 llx sub def /oy 0         def} if % on base line (y of current point), left-justified on current point
 10 code eq {/ox 0 mx  sub def /oy 0         def} if % on base line (y of current point), centered horizontally
 11 code eq {/ox 0 urx sub def /oy 0         def} if % on base line (y of current point), right-justified on current point

  ox oy translate

  gsave
  %0 setgray
  np 0 0 mt stname show
  grestore

%for debug
%  gsave
%  [3] 0 setdash
%  .1 setlinewidth np
%  llx lly mt urx lly lineto urx ury lineto llx ury lineto closepath stroke
%  grestore

  grestore
} def % puttext

/border {
  gsave
  2 setlinewidth
  1 i2p dup moveto
  6.5 i2p 0 rlineto
  0 9 i2p rlineto
  -6.5 i2p 0 rlineto
  closepath stroke
  1 i2p 9.5 i2p moveto 6.5 i2p 0 rlineto stroke

  grestore
} def

/landborder {
  gsave
  2 setlinewidth
  .5 i2p dup moveto
  10.0 i2p 0 rlineto
  0 7.5 i2p rlineto
  -10.0 i2p 0 rlineto
  closepath stroke
%  1 i2p 9.5 i2p moveto 6.5 i2p 0 rlineto stroke

  grestore
} def

% imported definitions -----------------------------------------------------------
%                    Shorthand for common PostScript operators
%
/NP { newpath } def
/CP { closepath } def
/LN { lineto } def
/MV { moveto } def
/PL { stroke } def
/LW { setlinewidth } def
%
%
%             Set up values for DEFPAGE
%
/defpage [0.0 0.0 0.0 0.0] def
%
%             Define DRAWSEG routine
%
/DS
 { NP
   MV
   LN
   CP
   LW
   PL } def

%%EndProlog

%------------------------------------------
/pathtextdict 26 dict def

/pathtext
 { pathtextdict begin
   /offset exch def
   /str exch def

   /pathdist 0 def
   /setdist offset def
   /charcount 0 def
   gsave
     flattenpath

     {movetoproc}{linetoproc}
       {curvetoproc}{closepathproc}
       pathforall

   grestore
   newpath
   end
} def

pathtextdict  begin
/movetoproc
  { /newy exch def /newx exch def
    /firstx newx def /firsty newy def
    /ovr 0 def
    newx newy transform
    /cpy exch def /cpx exch def
} def

/linetoproc
{ /oldx newx def /oldy newy def
  /newy exch def /newx exch def
  /dx newx oldx sub def
  /dy newy oldy sub def
  /dist dx dup mul dy dup mul add sqrt def
  dist 0 ne
  { /dsx dx dist div ovr mul def
    /dsy dy dist div ovr mul def

    oldx dsx add oldy dsy add transform
    /cpy exch def /cpx exch def
    /pathdist pathdist dist add def
    { setdist pathdist le

      { charcount str length lt
	{setchar}{exit} ifelse }
	{ /ovr setdist pathdist sub def
	  exit }
      ifelse
    } loop
  } if
} def

/curvetoproc
{ (ERROR: No curveto's after flattenpath!) print
} def

/closepathproc
{ firstx firsty linetoproc
  firstx firsty movetoproc
} def

/setchar
{ /char str charcount 1 getinterval def

  /charcount charcount 1 add def
  /charwidth char stringwidth pop def
  gsave
    cpx cpy itransform translate
    dy dx atan rotate
    0 0 moveto char show
    currentpoint transform
    /cpy exch def /cpx exch def
  grestore
  /setdist setdist charwidth add def
} def
end

%**** user definitions go here ******************************************************************************

%%%%%%% BEGIN PAGE
%%%%%%% begin text
% "paper" is 2' x 3'; in PS points: 1728 2592
% "paper" is 8.5" x 11.0"; in PS points: 612 792
gsave
8.5 i2p 0 translate
90 rotate

% temp scale
gsave
%0.25 dup scale

% outline paper area
newpath 0 0 moveto
11 i2p 0 rlineto
0 8.5 i2p rlineto
-11 i2p 0 rlineto
closepath stroke

% sizes are in inches
/bf3   {/Times-Bold       3   i2p selectfont} def
/bf35  {/Times-Bold       3.5 i2p selectfont} def
/bf4   {/Times-Bold       4   i2p selectfont} def
/bf45  {/Times-Bold       4.4 i2p selectfont} def
/bf5   {/Times-Bold       5   i2p selectfont} def
/bf55  {/Times-Bold       5.5 i2p selectfont} def
/bf6   {/Times-Bold       6   i2p selectfont} def
/bf7   {/Times-Bold       7   i2p selectfont} def

/tf    {/Times-Roman      1   i2p selectfont} def

/bif3   {/Times-BoldItalic 3   i2p selectfont} def
/bif35  {/Times-BoldItalic 3.5 i2p selectfont} def
/bif4   {/Times-BoldItalic 4   i2p selectfont} def
/bif45  {/Times-BoldItalic 4.4 i2p selectfont} def
/bif5   {/Times-BoldItalic 5   i2p selectfont} def
/bif55  {/Times-BoldItalic 5.5 i2p selectfont} def
/bif6   {/Times-BoldItalic 6   i2p selectfont} def

gsave
% make middle of page the origin
11 i2p .5 mul 8.5 i2p .5 mul translate
% draw 2 horizontal lines delimiting the width of the door frame
gsave
0 setlinewidth
newpath -5.5 i2p  3 i2p moveto 11.5 i2p 0 rlineto stroke
newpath -5.5 i2p -3 i2p moveto 11.5 i2p 0 rlineto stroke
grestore

%=== SPLIT

grestore

%% gsave
%% 0 1 0 setrgbcolor
%% bf2
%% gsave
%% fre-s
%% /fd-y  2 i2p def % for delta baseline
%% fre-x fre-y moveto (WHICH OS) 10 puttext % center on baseline
%% fre-x fre-y fd-y sub  moveto (IS FREE?) 10 puttext
%% grestore
%% grestore

%% gsave
%% 0 0 0 setrgbcolor
%% bf15
%% gsave
%% wrd-s
%% % two or more lines
%% /wd-y  -1.6 i2p def % for delta baseline
%% wrd-x wrd-y moveto (Thousands of free apps available,) 11 puttext % right-justified on baseline
%% 0     wd-y rmoveto (including clones of products from) 11 puttext % right-justified on baseline
%% 1 0 0 setrgbcolor
%% 0     wd-y rmoveto (Microsoft) 11 puttext % right-justified on baseline
%% 0     wd-y rmoveto (Adobe) 11 puttext % right-justified on baseline
%% 0     wd-y rmoveto (Quicken) 11 puttext % right-justified on baseline
%% grestore
%% grestore

grestore

grestore

%%%%%% end text

%**** end user definitions ******************************************************************************
%=============================
showpage
%restore
%=============================
% END OF *PostScript* FILE
%========================
